{% extends "base.html" %}

{% block lab %}Деление чисел{% endblock %}

{% block main %}
    <h1>Деление чисел</h1>
    <form method="post" action="/lab4/div">
        
        <input type="number" name="x1" value="{{ x1 or '' }}">

        <input type="number" name="x2" value="{{ x2 or '' }}">

        <input type="submit" value="=">
    </form>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% elif result is not none %}
        <p>Результат: {{ result }}</p>
    {% endif %}
{% endblock %}