{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
    <h1>Что вам больше нравится?</h1>
    <form action="{{ url_for('lab9.preference2') }}" method="POST">
        <label>
            <input type="radio" name="preference1" value="tasty" required> Что-то вкусное
        </label><br>
        <label>
            <input type="radio" name="preference1" value="beautiful" required> Что-то красивое
        </label><br><br>
        <input type="submit" value="Далее">
    </form>
{% endblock %}