{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    <form method="post">
        <div>
            <lsbel>
                Название статьи:
                <input type="text" maxlength="50" name="title">
            </lsbel>
        </div>

        <div>
            <textarea name="article_text"></textarea>
        </div>
        <label>
            <input type="checkbox" name="is_public" {% if article and article ['is_public'] %} checked {% endif %}>
            Публичная статья
        </label>
        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
{% endblock %}