{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Публичные статьи</h1>

    {% if articles %}
        {% for article in articles %}
            <div class="article">
                <h2>{{ article['title'] }}</h2>
                <blockquote>{{ article['article_text'] }}</blockquote>
                <p><strong>Автор:</strong> {{ article['author'] }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>{{ no_public_articles_message }}</p>
    {% endif %}
{% endblock %}