body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #4CA1AF, #C4E0E5);
  }
  

  header {
    background-color: #2C3E50;
    color: #fff;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 30px;
  }
  
  a {
    color: #090111;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #FFCC00;
  }
  
  /* Основной контент */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
  }
  
  section {
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }
  
  h1, h2, h3 {
    color: #2C3E50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  p {
    line-height: 1.6;
    color: #555;
  }
  
  .button {
    display: inline-block;
    background-color: #FFCC00;
    color: #2C3E50;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
  }
  
  .button:hover {
    background-color: #2C3E50;
    color: #FFCC00;
  }
  
  /* Подвал */
  footer {
    background-color: #2C3E50;
    color: #fff;
    padding: 10px;
    text-align: right;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0; /* Привязать к нижней части */
    width: 100%; /* Полная ширина */
  }

 /* Стили для изображений */
.img-fluid {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 20 auto;
}

/* Стили для текста */
.row {
  margin-bottom: 30px;
}

.row p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #0c0000;
}

@media (min-width: 768px) {
  .row p {
    font-size: 20px;
  }
}
