{% extends 'base.html' %}

{% block main %}
<h1>Что-то необычное :3</h1>

<div class="row">
  <div class="c">
    <img src="{{ url_for('static', filename='kot.png') }}" class="img-fluid">
    <p>Трехцветные кошки, также известные как кошки-черепашки, являются 
        генетической особенностью, встречающейся преимущественно у самок, 
        имеют уникальный рисунок шерсти и, согласно суевериям, приносят 
        удачу своим владельцам.</p>
  </div>

  <div class="c">
    <img src="{{ url_for('static', filename='glaza.jpg') }}" class="img-fluid">
    <p> Зеленый цвет глаз встречается значительно реже, чем карие, 
        голубые или серые, и является генетической особенностью, 
        которая обычно передается от одного или обоих родителей. 
    </p>
  </div>

  <div class="c">
    <img src="{{ url_for('static', filename='черная дыра.jpg') }}" class="img-fluid">
    <p>Черная дыра - это чрезвычайно плотный объект в космосе, обладающий 
        настолько мощным гравитационным полем, что ничто, включая свет, 
        не может из него вырваться.</p>
  </div>
</div>

<div class="row">
  <div class="c">
    <img src="{{ url_for('static', filename='piramidi.jpg') }}" class="img-fluid">
    <p>Величественные древнеегипетские пирамиды, возведенные более 4000 лет назад, 
        до сих пор поражают воображение людей своими внушительными 
        размерами, совершенством архитектурных решений и загадочностью их 
        строительства.</p>
  </div>

  <div class="c">
    <img src="{{ url_for('static', filename='sienie.jpg') }}" class="img-fluid">
    <p>Завораживающее северное сияние, также известное как полярные сияния, 
        представляет собой природное световое явление в полярных областях 
        Земли, вызванное взаимодействием заряженных частиц солнечного 
        ветра с магнитным полем планеты.
    </p>
  </div>
</div>
{% endblock %}
