{% extends "base.html" %}

{% block lab %}Лабоарторная работа 7{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='lab7/main.js') }}"></script>
<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    button {
        padding: 5px 10px;
        margin-right: 5px;
        cursor: pointer;
    }

    .modal {
        display: none;
        z-index: 100;
        box-shadow: 3px 3px 5px black;
        background: rgb(17, 150, 123);
        width: 700px;
        left: 50%;
        top: 200px;
        margin-left: -350px;
        position: absolute;
        padding: 20px;
    }

    .error-message {
        color: red;
    }

    .modal label {
        display: block;
        margin-bottom: 10px;
    }

    .modal input, .modal textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
    }

    .modal button {
        margin-top: 10px;
    }

    .italic {
        font-style: italic;
    }
</style>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th>Название (русское)</th>
                <th>Название (оригинальное)</th>
                
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>

    <script>
        fillFilmList();
    </script>

    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название фильма на русском:
            <input type="Text" id="title_ru">
            <div id="title_ru-error" class="error-message"></div>
        </label><br>
    
        <label>
            Название фильма на оригинальном языке:
            <i>если фильм русский оставьте пустым</i>
            <input type="Text" id="title">
            <div id="title-error" class="error-message"></div>
        </label><br>
    
        <label>
            Год выпуска:
            <input type="number" id="year">
            <div id="year-error" class="error-message"></div>
        </label><br>
    
        <label>
            Описание:
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>
    
        <button onclick="sendFilm()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>  
{% endblock %}